@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --white: #fff;
        --black: #000;
        --bg: var(--white);
        --text: var(--black);
    }

    .dark {
        --bg: var(--black);
        --text: var(--white);
        transition: background 1.5s ease;
    }

    * {
        @apply transition-all duration-1000 antialiased;
    }

    .animate-gradient {
        background-size: 450%; /* Cambio a background-size: cover */
        -webkit-animation: animatedGradient 5s ease infinite alternate;
        -moz-animation: animatedGradient 5s ease infinite alternate;
        animation: animatedGradient 5s ease infinite alternate;
    }

    @keyframes animatedGradient {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 90% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
    .bg-gradient-transition {
        transition: background-color 5s;
    }
}